.flext_sb_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--th-body-background);
  border: var(--th-thin-gray-border);
  padding: 10px;
  border-radius: 8px 0px;
}

.left_side {
  display: flex;
}

.table_search_wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.search_wrapper {
  width: 200px;
}

@media (max-width: 768px) {
  .date_element_wrapper {
    /* display: none; */
  }
}
