/* TableBooleanStatus */

.status {
  text-transform: capitalize;
}

.active {
  color: var(--th-booleanTrue-statusColor);
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  background-color: var(--th-booleanTrue-statusBg);
}

.pending {
  color: var(--th-booleanFalse-statusColor);
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  background-color: var(--th-booleanFalse-statusBg);
}

/* TableBooleanSwitchBtn */

.switch {
  position: relative;
  width: 30px; /* Reduced width */
  height: 16px; /* Reduced height */
  background-color: var(--th-booleanFalse-statusColor);
  border-radius: 8px; /* Adjusted for smaller height */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-circle {
  position: absolute;
  top: 1px; /* Adjusted for smaller height */
  left: 1px; /* Adjusted for smaller width */
  width: 14px; /* Reduced circle size */
  height: 14px; /* Reduced circle size */
  background-color: var(--th-body-background);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch-active {
  background-color: var(--th-booleanTrue-statusColor);
}

.switch-active .switch-circle {
  transform: translateX(14px); /* Adjusted for smaller width */
}

/* TablePageRedirect */
.view_link {
  display: inline-block;
  color: var(--th-primary-color);
}

.view_link:hover {
  color: var(--th-primary-hover-color);
}

.single_image_wrapper {
  border: 1px solid var(--ad-border-color);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  position: relative;
}

.img_style {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.draft {
  color: #f59e0b;
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  font-size: 14px;
  background-color: #f59e0b1a;
  text-transform: capitalize;
}

.published {
  color: #10b981;
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  font-size: 1.4rem;
  background-color: #10b9811a;
  text-transform: capitalize;
}

.pending {
  color: #fbbf24;
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  font-size: 1.4rem;
  background-color: #fbbf241a;
  text-transform: capitalize;
}

.active {
  color: #3b82f6;
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  background-color: #3b82f61a;
  text-transform: capitalize;
}

.moderation_review {
  color: #e11d48; /* Change text color to red-pink */
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  font-size: 14px;
  background-color: #e11d481a; /* Red-pink background */
  text-transform: capitalize;
}

.suspension {
  color: #6b7280; /* Change text color to gray */
  border-color: #0000;
  border-radius: 5px;
  padding: 5px 6.5px;
  font-size: 14px;
  background-color: #6b72801a; /* Gray background */
  text-transform: capitalize;
}

/*  */
