.main_container {
  width: 100%;
  height: 100%;
}

.navbar_wrapper {
  background-color: var(--th-primary-color);
  height: var(--th-nav-height);
  position: fixed;
  margin-left: var(--th-aside-container-width);
  width: calc(
    100% - var(--th-aside-container-width)
  ); /* Add spaces around the minus operator */
  transition: margin-left width var(--th-transition-ease-time);
  padding: 0px var(--th-10px);
  z-index: 8;
}

.navbar_wrapper_collapsed {
  margin-left: var(--th-collapsed-width);
  width: calc(
    100% - var(--th-collapsed-width)
  ); /* Add spaces around the minus operator */
}

.asidbar_wrapper {
  width: var(--th-aside-container-width);
  background-color: var(--th-transparent);
  border-right: 1px var(--ad-border-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  transition: width var(--th-transition-ease-time);
}

.asidbar_wrapper_collapsed {
  width: var(--th-collapsed-width);
  transition: width var(--th-transition-ease-time);
}

.asidebar_inner_wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--th-body-background);
  transition: width var(--th-transition-ease-time);
  box-shadow: var(--th-box-shadow);
  z-index: 9;
}

.asidebar_inner_collapsed {
  width: var(--th-collapsed-width);
  left: 0px;
  background-color: var(--th-body-background);
  box-shadow: var(--th-box-shadow);
}

.children_wrapper {
  margin-left: var(--th-aside-container-width);
  padding-top: var(--th-nav-height);
  transition: margin-left 0.3s ease;
}

.children_wrapper_collapsed {
  margin-left: var(--th-collapsed-width);
}

.footer_wrraper {
}

@media only screen and (max-width: 600px) {
  .navbar_wrapper {
    margin-left: 0px;
    width: 100%;
    height: var(--th-mobile-nav-height);
    padding: 0px 0px;
  }
  .navbar_wrapper_collapsed {
    margin-left: 0px;
  }
  .asidbar_wrapper {
    width: 100%;
  }

  .asidbar_wrapper_collapsed {
    width: 0px;
    top: 0;
    bottom: 0;
    left: -50px;
  }
  .asidebar_inner_wrapper {
    width: 70%;
    height: 100%;
    background-color: var(--th-body-background);
    transition: width 0.3s ease;
    z-index: 9;
  }
  .asidebar_inner_collapsed {
    width: 0%;
    position: fixed;
    left: -100px;
  }
  .children_wrapper {
    width: 100%;
    margin-left: 0px;
  }
  .children_wrapper_collapsed {
    margin-left: 0px;
  }

  .footer_wrraper {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}
