.table_container {
  overflow-x: auto;
}

.dynimic_table {
  width: 100%; /* Ensures the table spans the full width of the container */
  min-width: 600px;
  border-collapse: collapse;
}

.dynimic_table th,
.dynimic_table td {
  padding: 10px;
  text-align: left;
  border-bottom: var(--th-thin-gray-border);
  white-space: nowrap; /* Prevents text wrapping */
}

.dynimic_table th {
  background-color: #f4f3f5;
  font-weight: 400;
}

.numberCell {
  color: var(--th-blod-gray-text);
  width: 20px;
  text-align: center !important;
}
