.table_container {
  overflow-x: auto;
}

.dynimic_table {
  width: 100%; /* Ensures the table spans the full width of the container */
  min-width: 600px;
  border-collapse: collapse;
}

.dynimic_table th,
.dynimic_table td {
  padding: 10px;
  text-align: left;
  border-bottom: var(--th-thin-gray-border);
  white-space: nowrap; /* Prevents text wrapping */
}

.dynimic_table th {
  background-color: var(--th-gray-bg);
  font-weight: 400;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 16px;
}

.numberCell {
  color: var(--th-text-gray);
  width: 20px;
  text-align: center !important;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
}

.boolean_status_cell {
  width: 100px;
}

.boolean_switch_cell {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .dynimic_table th {
    font-weight: 500;
    font-size: 14px;
  }
}
